$search-bar-height: 40px;
$search-bar-border-radius: 30px;
$search-bar-border-color: #a6a6a6;
$search-bar-border-width: 1px;
$search-bar-background-color: #fff;
$search-input-font-size: 16px;
$search-input-color: #555;
$search-input-placeholder-color: #bfbfbf;
$search-input-padding: 0 10px;
$search-button-height: $search-bar-height;
$search-button-width: 90px;
$search-button-background-color: #f3a847;
$search-button-border: none;
$search-button-border-radius: $search-bar-border-radius;
$search-button-color: #fff;
$search-button-font-size: 16px;
$search-button-cursor: pointer;
$search-button-transition-duration: 0.2s;
$search-button-transition-timing-function: ease-in-out;
$search-button-hover-background-color: #f08131;
$search-button-hover-color: #fff;
.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $search-bar-height;
}
.search-input {
  height: $search-bar-height;
  width: calc(100% - #{$search-button-width});
  padding: $search-input-padding;
  border: $search-bar-border-width solid $search-bar-border-color;
  border-radius: $search-bar-border-radius;
  background-color: $search-bar-background-color;
  color: $search-input-color;
  font-size: $search-input-font-size;
  &::placeholder {
    color: $search-input-placeholder-color;
  }
  &:focus {
    outline: none;
  }
}
.search-button {
  height: $search-button-height;
  width: $search-button-width;
  border: $search-button-border;
  border-radius: $search-button-border-radius;
  background-color: $search-button-background-color;
  color: $search-button-color;
  font-size: $search-button-font-size;
  cursor: $search-button-cursor;
  transition: background-color $search-button-transition-duration
    $search-button-transition-timing-function;
  &:hover {
    background-color: $search-button-hover-background-color;
    color: $search-button-hover-color;
  }
}
